# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist.zip
dist.rar
dist-ssr
*.local

# TO IGNORE ALL TYPE OF ARCHIVE FILES
*.zip
*.rar
*.ssr

.env.development
.env
.env.production

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore archives
*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz

# Ignore all env files
.env*

